html {
    height: 100%;
    font-size: 14px; // set to 14px because all fonts in bulma is now rem sized
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    /* color: rgb(51,51,51)  */ /* alternative slightly darker than rgb(74,74,74) */
}

header {
    /* display: block; */
    z-index: 2; /* keep this on top, because main > div.columns sets margin to -10 */
    border-bottom: 1px solid #dbdbdb;
}

header nav, footer nav {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-item a.button {
    border-color: #7a7a7a;
}

/* forces color not to change on :hover */
.navbar-brand .navbar-item {
    color: #0FA8E2;
    font-family: "Raleway", "Lato", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-left: 0; /* override bulma */
}

main .menu {
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    flex-grow: 1;
    display: flex;
}

#main {
    flex-grow: 1;
}

#menu {
    background-color: #f1f1f1;
    /* override padding set in bulma .column. allows #menu children occupy the whole width */
    padding: 0 0 0 10px;
    border-right: 1px solid #dbdbdb;
}

#list {
    border-right: 1px solid #dbdbdb;
    padding-left: 0;
    padding-right: 0;
}

/* padding for regular menu items */
#menu .menu-label, #menu .menu-list a {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;     /* reset bulma rounding */
}

#menu .menu-list a:hover {
    background-color: #e5e5e5;
    color: #4a4a4a;
}

/* .is-active should be after :hover to override */
#menu .menu-list a.is-active {
    background-color: #C7E0F4;
    color: rgb(3,3,3);
}

/* reset bulma for embedded menu li > ul */
.menu-list li ul {
    border-left: 0;
    margin: 0;
    padding-left: 0;
}

/* indent embedded menu items (li > ul > li > a) */
#menu .menu-list li ul li a {
    padding-left: 40px;     /* indent */
}

footer {
    display: block;
    border-top: 1px solid #dbdbdb;
}


footer .nav-item .is-brand {
    color: #0FA8E2;
}

#menu {
    background-color: #f1f1f1;
}

div.list-item, div.list-header {
    padding: 8px 10px 8px 10px;
    position: relative;
}

div.list-header {
    height: 37px;
    margin: 10px 0 10px 0;
}

div.list-header-title {
    font-size: 21px;
    color: rgb(3,3,3);
}

div.list-item.is-active  {
    background-color: #C7E0F4;
}

div.list-item:hover:not(.is-active) {
    background-color: #e5e5e5;
}

div.list-item-checkbox {
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 9px;
    display: inline-block;
}

div.list-header > div.list-item-checkbox {
    top: 14px;
}

div.list-item-checkbox > input {
    cursor: pointer;
}

div.list-content {
    margin-left: 20px;
}

div.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.overflow-clip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

div.list-subject {
    font-size: 16px;
    height: 21px;
    margin-right: 95px;
}

div.list-byline {
    display: flex;
    justify-content: space-between;

    font-size: 13px;
    height: 17px;
    margin-top: 3px;
}

div.list-assignee {
    flex-grow: 1;
    flex-basis: 100px; /* required or else div.list-service on the same line gets truncated */
    margin-right: 25px;
}

div.list-date {
    font-size: 12px;
    height: 17px;
    margin-top: 3px;
}

div#detail {
}

/* top needs margin of 27 because parent div.column sets margin to -10.
 * right gets
 */
div.detail-container {
    margin: 27px 0 17px 27px;
    /* border because right margin/padding doesn't work */
    border-right: solid 40px rgba(0, 0, 0, 0); 
}

div.detail-header {
}

div.detail-subject {
    font-size: 22px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 7px;
}

div.detail-byline {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-bottom: 3px;
}

div.detail-date {
    font-size: 12px;
    color: #666;
}

div.detail-body {
    margin-top: 30px;
}

div.detail-body > div {
    margin-top: 30px;
}

div.detail-body-h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

.detail-comment { /* first .detail-comment */
    margin-top: 5px;
}

.detail-comment ~ .detail-comment{ /* all the remaining */
    margin-top: 20px;
}

div.detail-comment-byline {
    font-size: 12px;
}

div.detail-event {
    margin-top: 5px;
    display: flex;
}

div.detail-event-ts {
    flex-basis: 115px; /* know exactly how much space is required */
    flex-grow: 0;
    margin-right: 10px;
}

div.detail-event-source {
    flex-basis: 15%;
    flex-grow: 0;
    margin-right: 10px;
}

div.detail-event-description {
    flex-grow: 1;
}
